#header {
    width: 100%;
    height: 156px;
    position: relative;
    z-index: 3;
    .row1 {
        width: 100%;
        height: 36px;
        position: relative;
        z-index: 3;
        .container {
            width: 1050px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            > ul {
                display: flex;
                > li {
                    font-size: 12px;
                    position: relative;
                    > a {
                        color: #333;
                        &.on {
                            color: #5f0080;
                        }
                        
                    }
                    i {
                        color: #ccc;
                        padding: 0 10px

                    }
                    .notice-box {
                        position: absolute;
                        top: 20px;
                        right: 0;
                        width: 130px;
                        background: #fff;
                        border: 1px solid #ccc;
                        > ul {
                            padding: 5px;
                            > li {
                                a {
                                    display: flex;
                                    align-items: center;
                                    height: 20px;
                                    color: #444;
                                    font-size: 13px;
                                    padding: 7px 5px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .row2 {
        width: 100%;
        height: 64px;
        background:#fff;
        .container {
            width: 1050px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .left {
                display: flex;
                width: 325px;
                > h1 {
                    a {
                        display: flex;
                        align-items: center;
                        cursor: default;
                        img {
                            width: 82px;
                        }
                        strong {
                            font-size: 18px;
                            color: #5f0080;
                            font-weight: 600;
                            padding: 0 0 0 15px;

                        }
                    }
                }
                > span {
                    display: flex;
                    align-items: center;
                    i {
                        margin: 0 10px;
                        color: #ccc;
                    }
                }
                > a {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 18px;
                        color: #bbb;
                        font-weight: 600;
                        img {
                            vertical-align: top;
                            padding: 0 0 0 3px;
                        }
                    }
                }
            }
            .center {
                width: 400px;
                position: relative;
                background: #fff;
                input {
                    height: 48px;
                    width: 100%;
                    border: 1px solid #5f0080;
                    border-radius: 6px;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 0 0 0 10px;
                    position: relative;
                    z-index: 1;
                    &::placeholder {
                        color: #ccc;
                    }

                }
              a {
                position: absolute;
                right: 5px;
                top: 12px;
                z-index: 2;
                width:30px ;
                height: 30px;
                display: flex;
                img {
                    width: auto;
                }
              }

              &.on {
                width: 245px;
                height: 56px;
                position: fixed;
                display: flex;
                align-items: center;
                top: 0;
                right: 50%;
                margin-right: -525px + 165px;
                z-index: 3;
                input {
                    height: 36px;
                    border: 0;
                    padding-left: 15px;
                    background:#f7f7f7;
                        &::placeholder {
                            font-size: 12px;
                            color: #aaa;
                        }
                }
            }
            }
            .right {
                width: 325px;
                text-align: right;
                position: relative;
                background: #fff;
                &.on {
                    position: fixed;
                    display: flex;
                    align-items: center;
                    z-index: 3;
                    top: 0;
                    right: 50%;
                    margin-right: -525px;
                    width: auto;
                    height: 56px;
                }
                a {
                    margin: 0 0 0 20px;
                    img {
                        width: auto;
                    }
                }
                .map-box {
                    width: 267px;
                    height: auto;
                    background: #fff;
                    position: absolute;
                    top: 50px;
                    right: 0;
                    border: 1px solid #ccc;
                    text-align: left;
                    padding: 20px;
                    font-size: 15px;
                    line-height: 150%;
                    &::before {
                        content:'';
                        width: 36px;
                        height: 36px;
                        background: url(../../../public/img/intro/icon_up_arrow.svg) no-repeat 100% 50%;
                        position: absolute;
                        top: -23px;
                        left: 41%;


                    }
                    p {
                        padding: 0 0 10px 0;
                        strong {
                            color: #5f0080;
                            font-weight: 500;
                        }
                    }
                    .btn-box {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        font-size: 13px;
                        button {
                            height: 36px;
                            cursor: pointer;
                            border: 1px solid #5f0080;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &.login-btn {
                                background: #fff;
                                width: 80px;
                                color: #5f0080;
                            }
                            &.addr-search-btn {
                                background: #5f0080;
                                width: 135px;
                                color: #fff;
                                img {
                                    width: 20px
                                }
                            }
                        }
                    }
                }
            }

        }
    }
    .row3 {
        width: 100%;
        height: 56px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        &.on {
            position: fixed;
            top: 0;
            left: 0;
        }
        .container {
            width: 1050px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .left {
                width: 225px;
                &.on {
                    width: 125px;
                }
                a {
                    img {
                        width: auto;
                    }
                    strong {
                        padding: 0 0 0 15px;
                        font-size: 15px;
                    }
                }
            }
            .center {
                width: 600px;
                &.on {
                    width: 480px;
                    margin-left: 23px;
                }
                ul {
                    display: flex;
                    li {
                        width: 25%;
                        text-align: center;
                        a {
                            font-size: 15px ;
                            font-weight: 600;
                            color: #333;
                        &:hover {
                            text-decoration: underline;
                            color: #5f0080;
                        }
                        &.on {
                            color: #5f0080;
                            font-weight: 700;
                        }
                    }
                    }
                }
            }
            .right {
                width: 225px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                &.on {
                    display: none;
                }
                a {
                    width: 146px;
                    height: 32px;
                    border: solid 1px #ccc;
                    border-radius: 20px;
                    padding: 6px 16px;
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    strong {
                        color: #5f0080;
                    }
                    span {
                        color: #999;
                        padding: 0 0 0 3px;
                    }
                }
            }
        }
    }
}