.sub {
    background-color: #fff;
    width: 100%;
    > #section1 {
        width: 100%;
        .container {
            width: 100%;
            max-width: 1068px;
            margin: 0 auto;
            .content {
                width: 100%;
                a {
                    display: block;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    > #section2 {
        width: 100%;
        .container {
            width: 100%;
            max-width: 1068px;
            margin: 0 auto;
            .title {
                width: auto;
                // padding: 80px 0 60px 0; 
                margin:0 9px; 
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    text-align: center;
                    color: #000;
                }
            }
            .content {
                width: 100%;
                display: flex;
                .left {
                    width: 25%;
                    position: sticky;
                    top: 80px;
                    left: 0;
                    height: 100vh;
                    .col-gap {
                        width: auto;
                        margin: 0 9px;
                        .top {
                            padding-bottom: 20px;
                            display: flex;
                            justify-content: space-between;
                            strong {
                                font-size: 15px;
                                font-weight: 600;
                                color: #333;
                            }
                            a {
                                img {
                                    width: auto;
                                }
                                em {
                                    font-size: 14px;
                                    color: #ddd;
                                    font-weight: 500;
                                    margin-left: 5px;
                                }
                            }
                        }
                        .category {
                            width: 100%;
                            > ul {
                                width: 100%;
                                padding-bottom: 10px;
                                > li {
                                    width: 100%;
                                    border-top: 1px solid #ddd;
                                    > a {
                                        width: 100%;
                                        height: 52px;
                                        font-size: 15px;
                                        font-weight: 600;
                                        position: relative;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        &::after {
                                            position: absolute;
                                            top: 0;
                                            right:0;
                                            content: '';
                                            display: block;
                                            width: 18px;
                                            height: 100%;
                                            background:url(../../../../public/img/sub/sub1/down_arrow.svg) no-repeat 100% 50%;
                                            background-size: 18px auto;
                                            transition: 0.3s;
                                        }
                                        &.on::after {
                                            transform: rotate(180deg);
                                        }
                                    }
                                    .sub {
                                        width: 100%;
                                        height: 0;
                                        overflow: hidden;
                                        &.on{
                                            height: auto;
                                        }
                                        &.sub1 {
                                            &.on {
                                                animation: aniSub1on 0.3s ease-in-out;
                                            }
                                            &.off {
                                                animation: aniSub1off 0.3s ease-in-out;
                                            }
                                        }
                                        &.sub2 {
                                            &.on {
                                                animation: aniSub2on 0.3s ease-in-out;
                                            }
                                            &.off {
                                                animation: aniSub2on 0.3s ease-in-out;
                                            }
                                        }
                                        &.sub3 {
                                            &.on {
                                                animation: aniSub3on 0.3s ease-in-out;
                                            }
                                            &.off {
                                                animation: aniSub3on 0.3s ease-in-out;
                                            }
                                        }
                                        &.sub4 {
                                            &.on {
                                                animation: aniSub4on 0.3s ease-in-out;
                                            }
                                            &.off {
                                                animation: aniSub4on 0.3s ease-in-out;
                                            }
                                        }
                                        &.sub5 {
                                            &.on {
                                                animation: aniSub5on 0.3s ease-in-out;
                                            }
                                            &.off {
                                                animation: aniSub5on 0.3s ease-in-out;
                                            }
                                        }
                                        &.sub6 {
                                            &.on {
                                                animation: aniSub6on 0.3s ease-in-out;
                                            }
                                            &.off {
                                                animation: aniSub6on 0.3s ease-in-out;
                                            }
                                        }
                                        @keyframes anisub1on {
                                            0%   { height: 0;}
                                            100% { height: 410px;}
                                        }
                                        @keyframes anisub1off {
                                            0%   { height: 410px;}
                                            100% { height: 0;}
                                        }
                                        @keyframes anisub2on {
                                            0%   { height: 0;}
                                            100% { height: 400px;}
                                        }
                                        @keyframes anisub2off {
                                            0%   { height: 400px;}
                                            100% { height: 0;}
                                        }
                                        @keyframes anisub3on {
                                            0%   { height: 0;}
                                            100% { height: 122px;}
                                        }
                                        @keyframes anisub3off {
                                            0%   { height: 122px;}
                                            100% { height: 0;}
                                        }
                                        @keyframes anisub4on {
                                            0%   { height: 0;}
                                            100% { height: 194px;}
                                        }
                                        @keyframes anisub4off {
                                            0%   { height: 194px;}
                                            100% { height: 0;}
                                        }
                                        @keyframes anisub5on {
                                            0%   { height: 0;}
                                            100% { height: 194px;}
                                        }
                                        @keyframes anisub5off {
                                            0%   { height: 194px;}
                                            100% { height: 0;}
                                        }
                                        @keyframes anisub6on {
                                            0%   { height: 0;}
                                            100% { height: 194px;}
                                        }
                                        @keyframes anisub6off {
                                            0%   { height: 194px;}
                                            100% { height: 0;}
                                        }
                                        > ul {
                                            width: 100%;
                                            > li {
                                                width: 100%;
                                                height: 36px;
                                                line-height: 18px;
                                                label {
                                                    // margin: 10px 0;
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    color: #333;
                                                    display: block;
                                                    cursor: pointer;
                                                    &:hover {
                                                        color: #5f0080;
                                                    }
                                                    input[type='checkbox'] {
                                                        margin-right: 5px;
                                                        appearance: none;
                                                        width: 18px;
                                                        height: 18px;
                                                        display: inline-block;
                                                        background: url(../../../../public/img/sub/sub1/check_off.svg);
                                                        &:checked {
                                                            background: url(../../../../public/img/sub/sub1/check_on.svg);
                                                        }
                                                    }
                                                    em {
                                                        color: #ccc;
                                                        font-size: 12px;
                                                        padding-left: 5px;
                                                        font-weight: normal;
                                                        vertical-align: middle;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .category-more-view-btn {
                                font-size: 12px;
                                border: 0;
                                background: none;
                                color: #333;
                                width: 100%;
                                height: 30px;
                                img {
                                    transform: rotate(-90deg) translateX(-5px);
                                }

                            }
                        }
                    }
                }
                .right {
                    width: 75%;
                    .top {
                        padding: 0 9px 15px 9px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 14px;
                        .top-left {
                            strong {
                                color: #333;
                            }
                        }
                        .top-right {
                            a {
                                font-size: 14px;
                                color: #999;
                                img {
                                    width: auto;
                                }
                                &.on {
                                    color: #000;
                                }
                            }
                            i {
                                font-size: 14px;
                                color: #999;
                                margin: 0 4px;
                            }
                        }
                    }
                    ul {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-flow: row wrap;
                        li {
                            width: 33.333%;
                            .col-gap {
                                margin: 0 9px 20px 9px;
                                width:auto;
                                .img-box {
                                    a {
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                                .button-box {
                                    width: 100%;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                    padding: 10px 0;
                                    margin: 5px 0;
                                    a {
                                        font-size: 16px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-weight: 500;
                                        img {
                                            width: 22px;
                                            height: 22px;
                                        }
                                    }
                                }
                                .txt-box {
                                    width: 100%;
                                    ul {
                                        width: 100%;
                                        line-height: 130%;
                                        li {
                                            width: 100%;
                                            a {
                                                display: flex;
                                                em {
                                                    font-size: 14px;
                                                    color: #999;
                                                }
                                                h2 {
                                                    font-size: 16px;
                                                }
                                                h3 {
                                                    color: #999;
                                                    font-size: 12px;
                                                }
                                                h4 {
                                                    font-size: 14px;
                                                    color: #b5b5b5;
                                                    font-weight: 400;
                                                    text-decoration: line-through;
                                                }
                                                strong {
                                                    font-size: 16px;
                                                    font-weight: 600;
                                                    color: #fa622f;
                                                    margin-right: 5px;
                                                }
                                                h5 {
                                                    font-size: 16px;
                                                    font-weight: 600;
                                                }
                                                h6 {
                                                    background: #f4f4f4;
                                                    color:#666;
                                                    padding: 2px 8px 4px 8px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}