#section5 {
    width: 100%;
    .container {
        width: 1050px;
        margin: 0 auto;
        .content {
            width: 100%;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}